@import "/home/gabriel/.cache/wal/colors.scss";

window.Bar {
  background: transparent;
  color: #{$foreground};
  font-family: MapleMono NF;
  // font-weight: bold;

  >centerbox {
    background: transparentize($color: $background, $amount: 0.1);
    border-radius: 8px;
    margin: 3px 0px 3px 3px;
  }

}

button {
  background: transparent;
  color: #{$color4};
  border-radius: 8px;
  margin: 2px;
  font-size: 36px;
  min-width: 26px;
  border: none;
  box-shadow: none;
}

button:active {
  color: #{$color7}
}

button:hover {
  color: #{$color7}
}

.CircleIndicator {
  min-width: 26px;
  min-height: 26px;
  font-size: 2px;
}

.Workspaces button {
  font-size: 16px;
  font-weight: bold;
  color: #{$foreground}
}

.Workspaces .focused {
  font-size: 16px;
  color: #{$cursor}
}

.Workspaces button:hover {
  color: #{$cursor}
}

.ArchCtlMenu {}

.ArchCtlBox {
  background: transparentize($color: $background, $amount: 0.1);
  border-radius: 8px;
  padding: 4px;
}

.PowerButton-power {
  color: #{$color9};
}

.PowerButton-suspend {
  color: #{$color4};
}

.PowerButton-reboot {
  color: #{$color4};
}

.PowerButton-logout {
  color: #{$color4};
}

.PowerButton-power:hover {
  color: #{$foreground};
}

.PowerButton-suspend:hover {
  color: #{$foreground};
}

.PowerButton-reboot:hover {
  color: #{$foreground};
}

.PowerButton-logout:hover {
  color: #{$foreground};
}

.ColorSchemePreviewBox>eventbox:hover .ColorSchemeName {
  color: #{$cursor};
}
